In [ ]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from bs4) (4.13.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->bs4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->bs4) (4.15.0)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.10.5)

In [ ]:
import requests
from bs4 import BeautifulSoup
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry
import time
import random
import pandas as pd

In [ ]:
url = "https://www.amazon.in/s?"

In [ ]:
QUERY = "shoes"
HEADERS = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/124.0.0.0 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
}

In [ ]:
session=requests.Session()
retry = Retry(connect=3,backoff_factor=1,status_forcelist=[429,500,502,503,504])
adapter=HTTPAdapter(max_retries=retry)
session.mount('http://',adapter)
session.mount('https://',adapter)

In [ ]:
all_data = []

for page in range(1,7):
  params = {'k': QUERY, 'page': page}
  print(f'scraping page {page}...')

  try:
    response = session.get(url, params=params, headers=HEADERS, timeout=10)
    response.raise_for_status()
  except requests.RequestException as e:
    print(f'Error on page {page}: {e}')
    continue

  soup = BeautifulSoup(response.text, 'html.parser')

  # Extract product information for the current page
  for result in soup.find_all('div', {'data-component-type': 's-search-result'}):
    BrandName_tag =result.find('span',{'class':'a-size-base-plus a-color-base'})
    ProductName_tag = result.find('h2', {'class':'a-size-base-plus a-spacing-none a-color-base a-text-normal'})
    ProductPrice_tag = result.find('span', class_='a-price-whole')
    ProductRating_tag = result.find('span', class_='a-icon-alt')
    ProductNoOfratings_tag = result.find('span', class_='a-size-mini puis-normal-weight-text s-underline-text')

    BrandName = BrandName_tag.get_text(strip=True) if BrandName_tag else None
    ProductName = ProductName_tag.get_text(strip=True) if ProductName_tag else None
    ProductPrice = ProductPrice_tag.get_text(strip=True) if ProductPrice_tag else None
    ProductRating = ProductRating_tag.get_text(strip=True) if ProductRating_tag else None
    productNoOfratings= ProductNoOfratings_tag.get_text(strip=True) if ProductRating_tag else None


    all_data.append({
        "BrandName": BrandName,
        "ProductName": ProductName,
        "ProductPrice": ProductPrice,
        "ProductRating": ProductRating,
        "ProductNoOfratings": productNoOfratings
    })

  #delay
  time.sleep(random.uniform(2, 5))

print(f"✅ Scraped {len(all_data)} products total")

scraping page 1...
Error on page 1: HTTPSConnectionPool(host='www.amazon.in', port=443): Max retries exceeded with url: /s?k=shoes&page=1 (Caused by ResponseError('too many 503 error responses'))
scraping page 2...
scraping page 3...
scraping page 4...
scraping page 5...
scraping page 6...
✅ Scraped 288 products total

In [ ]:
# The scraping logic is now included in the previous cell.
# Display the collected data in a DataFrame
df = pd.DataFrame(all_data)
display(df.head())

,BrandName,ProductName,ProductPrice,ProductRating,ProductNoOfratings
0,new balance,Women's 327 Sneaker,"5,899",4.2 out of 5 stars,(164)
1,Hush Puppies,Men's Slip-on Formal Shoes,"2,376",3.8 out of 5 stars,(624)
2,U.S. POLO ASSN.,USPA|Erland 4.0|Navy Stylish Casual Sneaker Sh...,"2,000",3.9 out of 5 stars,(90)
3,Liberty,Force10 ROKKY-4 Non-Lacing Walking Shoes for M...,699,3.8 out of 5 stars,(2.3K)
4,new balance,Mens 373 Sneaker,"4,478",3.0 out of 5 stars,(1)

In [ ]:
df.to_csv("shoes@amazon.csv")

In [ ]:
df=pd.read_csv('shoes@amazon.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          288 non-null    int64
 1   BrandName           288 non-null    object
 2   ProductName         288 non-null    object
 3   ProductPrice        286 non-null    object
 4   ProductRating       280 non-null    object
 5   ProductNoOfratings  280 non-null    object
dtypes: int64(1), object(5)
memory usage: 13.6+ KB

In [ ]:
df['ProductPrice'] = df['ProductPrice'].astype(str).str.strip('₹').str.replace(',', '', regex=False).str.replace('.', '', regex=False)
df['ProductPrice'] = pd.to_numeric(df['ProductPrice'], errors='coerce').astype('Int64')

In [ ]:
def convert_ratings(rating_str):
    if isinstance(rating_str, str):
        rating_str = rating_str.strip('()').replace(',', '') # Remove parentheses and commas
        if 'K' in rating_str:
            return float(rating_str.replace('K', '')) * 1000
        elif 'L' in rating_str:
            return float(rating_str.replace('L', '')) * 100000
        else:
            return float(rating_str) if rating_str else None # Convert to float and handle empty strings
    return None # Return None for non-string values

df['ProductNoOfratings'] = df['ProductNoOfratings'].apply(convert_ratings).astype('Int64') # Use nullable integer type

In [ ]:
df['ProductRating'] = df['ProductRating'].str.replace('out of 5 stars', '').astype(float)

In [ ]:
df.head()

,Unnamed: 0,BrandName,ProductName,ProductPrice,ProductRating,ProductNoOfratings
0,0,new balance,Women's 327 Sneaker,5899,4.2,164
1,1,Hush Puppies,Men's Slip-on Formal Shoes,2376,3.8,624
2,2,U.S. POLO ASSN.,USPA|Erland 4.0|Navy Stylish Casual Sneaker Sh...,2000,3.9,90
3,3,Liberty,Force10 ROKKY-4 Non-Lacing Walking Shoes for M...,699,3.8,2300
4,4,new balance,Mens 373 Sneaker,4478,3.0,1

In [ ]:
df = df.rename(columns={'Unnamed: 0':'Product No'})

In [ ]:
df.isnull().sum()

Product No            0
BrandName             0
ProductName           0
ProductPrice          2
ProductRating         8
ProductNoOfratings    8
dtype: int64

In [ ]:
df.fillna(method='bfill',inplace=True)

/tmp/ipython-input-1626352436.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill',inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product No          288 non-null    int64
 1   BrandName           288 non-null    object
 2   ProductName         288 non-null    object
 3   ProductPrice        288 non-null    Int64
 4   ProductRating       288 non-null    float64
 5   ProductNoOfratings  288 non-null    Int64
dtypes: Int64(2), float64(1), int64(1), object(2)
memory usage: 14.2+ KB

In [ ]:
df.head()

,Product No,BrandName,ProductName,ProductPrice,ProductRating,ProductNoOfratings
0,0,new balance,Women's 327 Sneaker,5899,4.2,164
1,1,Hush Puppies,Men's Slip-on Formal Shoes,2376,3.8,624
2,2,U.S. POLO ASSN.,USPA|Erland 4.0|Navy Stylish Casual Sneaker Sh...,2000,3.9,90
3,3,Liberty,Force10 ROKKY-4 Non-Lacing Walking Shoes for M...,699,3.8,2300
4,4,new balance,Mens 373 Sneaker,4478,3.0,1

In [ ]:
import sqlalchemy
import sqlite3

In [ ]:
conn= sqlite3.connect('shoes.db')

In [ ]:
cursor = conn.cursor()

In [ ]:
df.to_sql("Shoes",conn,index=False,if_exists='replace')

288

In [ ]:
cursor.execute('select count(*)from Shoes')
print('rows stored: ',cursor.fetchone()[0])

rows stored:  288

In [ ]:
conn.close()

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///shoes.db')
df= pd.read_sql('select * from shoes',con=engine)

First, install the necessary library if you haven't already:

In [ ]:
!pip install mysql-connector-python sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (7.5 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Downloading mysql_connector_python-9.5.0-cp312-cp312-manylinux_2_28_x86_64.whl (34.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.1/34.1 MB 46.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [ ]:
# Assuming you have already created a SQLAlchemy engine for your desired database connection
# For example, for MySQL:
# engine = create_engine('mysql+mysqlconnector://user:password@host/database')

# Write the DataFrame to the SQL database
# Replace 'your_table_name' with the desired name for your table
df.to_sql('Shoes', con=engine, index=False, if_exists='replace')

288

In [ ]:
import sqlite3

conn = sqlite3.connect('shoes.db')
with open('shoes.sql', 'w') as f:
    for line in conn.iterdump():
        f.write('%s\n' % line)
conn.close()

This code connects to the `shoes.db` SQLite database, iterates through its contents using `iterdump()` (which yields SQL statements), and writes these statements to a new file named `shoes.sql`.

After running this cell, you can download the `shoes.sql` file using the `files.download()` command again:

In [ ]:
from google.colab import files

files.download('shoes.sql')

In [ ]:
df.to_csv('shoes.csv',index=False)